.card {
    border-radius: 15px;
    width: 70px;
    height: 130px;
    margin-top: -78px;
    margin-left: -48px;
    display: inline-block;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: rotate(0) translateX(0) scale(1);
    -ms-transform: rotate(0) translateX(0) scale(1);
    transform: rotate(0) translateX(0) scale(1);
}

.card:hover {
    -webkit-transition: top .5s;
    -moz-webkit-transition: top .5s;
    -o-webkit-transition: top .5s;
    transition: top .5s;
    -webkit-transform: rotate(7deg) translateX(0) scale(1);
    -ms-transform: rotate(7deg) translateX(0) scale(1);
    transform: rotate(7deg) translateX(0) scale(1);
    top: -20px;
}