.Btn
  transition: all .2s ease-in-out
  display: inline-block
  height: 2.25rem
  padding: 0 1.625rem
  margin: .375rem 0
  color: #fff
  background-color: transparent
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-weight: 500
  cursor: pointer
  &-default
    background-color: #ff4081
    &:hover
      box-shadow: 0 0 4px rgba(0, 0, 0, .12), 1px 3px 4px rgba(0 ,0, 0, .2)
      background-color: lighten(#ff4081, 10%)
