@import 'normalize.css/normalize.css'

body, html
  padding: 0 !important
  margin: 0 !important

$cardHeight: 309px * 0.4
$cardWidth: 162px * 0.4


body
  background: #333
  height: 100vh
  width: 100vw
  position: relative
  overflow-x: hidden

#board
  width:100%
  // overflow: hidden

.buttons
  position: fixed
  top: 5px
  left: calc(50% - 250px)
  width: 500px
  text-align: center
  z-index: 9

.cards-grid
  list-style: none
  align-items: center
  justify-content: center
  flex-wrap: wrap
  flex-direction: row
  position: relative
  display: flex
  max-width: 100%
  margin: 50px 20px !important
  padding: 0 !important
  > div
    display: block
    border-radius: 2px
    width: auto
    height: auto
    margin: 15px
    width: $cardWidth
    padding: 0 !important

.modal-background
  position: fixed
  top: 0
  left: 0
  background: rgba(0,0,0,0.7)
  height: 100%
  width: 100%
  z-index: 8

.card
  transition: 0.4s
  transform-style: preserve-3d
  height: $cardHeight
  width: $cardWidth
  display: block
  border: 1px solid #CCC
  border-radius: 5px
  &::after
    opacity: 0
    display: none
    transition: 0
  &.is-fliped
    transform: rotateY(180deg) !important
  &.is-selected
    transform: rotateY(180deg) scale(3) !important
    z-index: 9999
    position: fixed !important
    top: calc(50% - (#{$cardHeight} / 2) )
    left: calc(50% - (#{$cardWidth} / 2) )
    .info
      display: block
      position: absolute !important
      top: 50%
      left: -100%
      width: 200px
      visibility: visible
      height: 300px
      color: white
      z-index: 9999
      opacity: 1
      font-size: 12px
      transform: scale(.5) rotateY(180deg)
  &:hover
    transform: scale(1.05)
    cursor: pointer
  .front, .back
    backface-visibility: hidden
    position: absolute
    background-size: contain
    background-color: white
    border-radius: inherit
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: 9
  .front
    transform: rotateY(180deg)
    background-size: 80%
    background-position: center
    background-repeat: no-repeat
  .back
    z-index: 2
    transform: rotateY(0deg)
  .info
    display: none
    font-family: "Arial"
    p
      text-align: center



