.CardPicture
    display inline-block

    +below(breakpoints.phone)
        max-width 100%
        margin 0px

.CardPicture__image
    max-width 162px
    width 100%
    display inline-block

    +below(breakpoints.phone)
        max-width 82px
