.Footer
    display block
    position fixed
    bottom 0
    left 0
    width 100%
    background rgba(1, 23, 60, 0.95)
    border-top 2px solid rgba(0,0,0,0.5)
    padding 20px
    text-align center
