.MagicBtn
    cursor pointer
    display inline-block
    color #fedeff
    padding-top: 13px;
    padding-bottom: 13px;
    width 100%
    max-width 150px
    font-size 2em
    position relative
    transition background .6s cubic-bezier(.25,.46,.45,.94)

    &:hover
        background #17083a

    &:focus
        outline none

    svg
        position absolute
        top 2px
        left 0px
        padding 1px
        height 100%
        width 100%
        overflow visible
