.Tip
    position absolute
    display block
    top -20px
    left 50%
    padding 20px
    transform translate(-50%, -100%)
    background #2d2d2d
    border-radius 10px
    transition opacity 0.3s ease-out

    &:after
        position absolute
        bottom -9px
        content ""
        border-top 10px solid #2d2d2d
        border-left 10px solid transparent
        border-right 10px solid transparent
        height 0px
        width 0px
