.card {
  background-color: transparent;
  flex: 0 0 130px;
  margin: 10px;
  transition: transform .6s;
}

.backcard {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.backcard:not(.selected) {
  transform: rotateY(180deg);
}

.card,
.backcard {
  transform-style: preserve-3d;
}

.card:not(.backcard) {
  transition: transform .6s;
}

.image {
  height: 309px;
  max-width: 100%;
}
