.card {
  background-color: #f0f4db;
  flex: 0 1 162px;
  margin: 10px;
  padding: 2px;
}

.backcard {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.image {
  height: auto;
  max-width: 100%;
}

.text {
  padding: 5px 0;
  text-align: center;
}
