.Button {
    border: none;
    border-radius: 2px;
    color: #fff;
    border: 2px solid #fff;
    background: none;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 20px;
    min-height: 48px;
    min-width: 100px;
    padding: 15px 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    will-change: background-color;
    position: relative;
    overflow: hidden;
    transition: color .5s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;

    &::before {
        content: '';
        display: block;
        width: 120%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0% 100%;
        transform: rotate3d(0, 0, 1, -50deg) translate3d(0, -3em, 0);
        transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);
        z-index: -1;
    }

    &:hover {
        color: #111;

        &::before {
            transform: rotate3d(0, 0, 0, 0);
        }
    }

    &.--disabled {
        border: 0;
        background-color: #b4b4b4;
        color: #757575;
        cursor: not-allowed;
        outline: 0;

        &::before {
            content: none;
        }

        &:hover {
            color: #757575;
        }
    }
}
