 .App-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: hotpink;
    padding: 10px;
    align-items: center;
    margin: 0 auto;
    
    
   
}

.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    align-items: center;
    margin: 0;
    
   
    

}






