.l-main
    display block
    background linear-gradient(to bottom, #01173c, #1f0f3c)
    padding 20px 20px 200px
    width 100%

    &.is-disable
        pointer-events none

.l-container
    width 100%
    max-width 1200px
    margin 0 auto
    display flex
    flex-direction column

.l-content
    width 100%
