.primary-text
    display block
    font-family 'Roboto', sans-serif
    font-weight 400
    color #f1f1f1f1
    font-size 1.6em
    letter-spacing 0.025em
    margin 0

.primary-title
    display block
    font-family 'Roboto', sans-serif
    font-weight 700
    color #2d2d2d
    font-size 2.3em
    letter-spacing 0.025em
    margin 0px 0px 40px

    +below(breakpoints.tablet)
        font-sie 1.8em
        margin 10px 0px

.body-text
    font-family 'Roboto', sans-serif
    font-weight 400
    color #2d2d2d
    font-size 1.8em
    line-height 1.4em
    letter-spacing 0.025em
    margin 0

    +below(breakpoints.tablet)
        font-sie 1.4em
