.modal-content {
  height: 85%;
}

.modal-content-child {
  display: inline-block;
  width: 40%;
  margin: 2.5%;
  vertical-align: top;
}

.modal-content-child > .card-image {
  width: 200px;
  height: 100%;
  max-width: inherit;
  max-height: inherit;
  margin: auto;
}