.card-container{
	display: inline-block;
	text-align: center;
	margin: 10px;
}

.card{
	display: inline-block;
	text-align: center;
	margin: 10px;
}

img{
	cursor: pointer;
}

.btn-paginaInicial{
	width: 150px;
	height: 35px;
	font-size: 1.2rem;
	background-color: blue;
	border: none;
	border-radius: 10px;
	color: whitesmoke;
	cursor: pointer;
}


.popup{
	position: absolute;
	left: 35%;
	border: 1px solid;
	width: 30vw;
	height: 90vh;
	background-color: lightgray;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 3px 3px 6px;
}

.btn-back{
	background-color: blue;
	color: whitesmoke;
	border: none;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}


.load-container{
	margin-left: 45vw;
	margin-top: 20vh;
}
.loading{
	border: 3px solid;
	width: 50px;
	height: 50px;
	border-top-color: blue;
	border-radius: 50%;
	animation: round 1s infinite;
}
@keyframes round{
	to{
		transform: rotate(1turn);
	}
}


.back{
	animation: hide 2s;
}

@keyframes hide{
	from{
		transform: scale(0);
	}
	to{
		transform: scale(1);
	}
}

.character{
	animation: appear 3s;
}

@keyframes appear{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}	